<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vintaje Clothing</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <div id="cont-logo">
            <img id="logo" src="../static/img/logoVintajeClothing.jpeg" alt="fondo marrón con una percha en el medio con dos corazones y las palabras Vintage Clothing">
        </div>
        <div id="cont-menu">

            <a href="#cont-menu"><img src="../static/img/menu-bar_13077900.png" id="abrir-menu" alt="menú hamburguesa"></a>
            <a href="#"><img src="../static/img/cancel_4441907.png" id="cerrar-menu" alt="imagen de una x"></a>

            <nav id="menu-ppal">
                <ul id="cont-enlaces">
                    <a href="../index.html">Inicio</a>
                    <a href="#">Acerca de</a>
                    <a href="#">Galería</a>
                    <a href="#">Registro</a>
                </ul>
            </nav>
        </div>
    </header>

    <main></main>

    <footer>
        <p>Todos los derechos reservados @2024</p>
    </footer>

</body>
</html>